@font-face {
  font-family: couture;
  src: url(fonts/couture-bld.otf);
}

@font-face {
  font-family: nordica;
  src: url(fonts/NordicaHairline.otf);
}

/* flex baby flex */

* {
  box-sizing: border-box;
 }

 body {
   height: 100%;
   width: 100%;
 }




.logo {
  width: 25%;
  height: 100%;
  float: left;
  text-align: center;
}

.title-media {
  visibility: hidden;
}

.about-media {
  visibility: hidden;
}


.main {
  width: 75%;
  height: 100vh;
  float: left;
  background-color: #232323;
  margin-top: -10px;
  margin-right: -20px;

}

.main img {
  height: 100%;
  width: 100%;
}

/* deets baby deets */


.title {
  font-family: couture;
  font-size: 2.5em;
  letter-spacing: 1.5px;
  position: absolute;
  bottom: 10px;
  margin-left: 10px;
}

.about {
  margin-top: 10px;
  font-family: nordica;
  font-size: 1.5em;
  color: #888888;
  padding: 30px;
  line-height: 35px;
  text-align: left;
  margin-left: 10px;
}

.nav {
  position: absolute;
  margin-right: 10px;
  right: 0;
  top: 0;
  color: white;
}


a {
  text-decoration: none;;
  color: #d4af37;

}

a:hover {
  color: #000;
}

a:visited {
  color: #d4af37;
}

/* main area */


/* media queries */

@media screen and (max-width: 1200px) {
  .logo {
    font-size: .75em;
  }
}

@media screen and (max-width: 480px) {

  .title-media {
    visibility: visible;
    text-align: center;
    width: 100%;
    font-family: couture;
    font-size: 2em;
    letter-spacing: 1.5px;
  }

  .about-media {
    visibility: visible;
    margin-top: -10px;
    font-family: nordica;
    font-size: 1.5em;
    color: #888888;
    width: 100%;
  }

  .title {
    visibility: hidden;
    height: 0;
  }

  .about {
    visibility: hidden;
    height: 0;
  }

  .main {
    width: 100%;
    margin-top: 10px;
  }

}
